<h1><%= @dish.name %></h1>

Prepared By: <%= @dish.chef.name %>

<p>Ingredients: <br>
  <ul>
  <% @dish.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  </ul>
  <% end %>
</p>

<p>Total Calories: <%= @dish.total_calories %></p>
